div~p{
  background-color: aliceblue;
  color: black;
}
  p::after{

  }
  p::before{
    background-color: brown;
    color: white;
  }
  p::selection{
    background-color: yellowgreen;
  }
  p::nth-child(2){
    background-color: yellow;
    color: black;
  }

  div p::nth-of-type(1){
    background-color: rosybrown;
     font-size: x-small;
  }
  